language: csharp
solution: BinaryEncoding.sln

matrix:
  include:
    - dotnet: 2.1.500
      mono: none
      env: DOTNET=1
      os: linux
    - mono: latest
      env: MONO=1
      os: linux
    - dotnet: 2.1.500
      mono: none
      env: DOTNET=1
      os: osx
    - mono: latest
      env: MONO=1
      os: osx

notifications:
  email:
    on_success: change
    on_failure: always

branches:
  only:
    - master

cache:
  bundler: true
  directories:
  - ./packages
  - /.dotnetcli
  - $HOME/Library/Caches/Homebrew

before_install:
  - if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install openssl; ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/; ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/; fi

install:
  - git config --global core.autocrlf input
  - chmod +x ./build.sh

script:
  - ./build.sh

